.secondary_projects_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media (max-width: 768px) {
  .secondary_projects_container {
    grid-template-columns: 1fr;
  }
}

.smallIconSize svg {
  width: 20px;
  height: 20px;
}

.mediumIconSize svg {
  width: 35px;
  height: 35px;
}

.contact-buttons:hover {
  background-color: #0D8065;
  color: white;
}

.contact-buttons:hover svg {
  stroke: white;
  fill: white;
  transition: all ease 0.2s, box-shadow ease 0.2s;
}